1. capitalize()
2. upper()
3. lower()
4. casefold()
5. title()
6. lstrip()
7. rstrip()
8. strip()
9. swapcase()
10. replace()
11. count()
12. index()
13. find()
14. isalnum()
15. isalpha()

## 16. islower()

True --->> if all chars are in lower case (space and special char allowed)
False --->> other than lower case

In [1]:
string = "python"
print(string.islower()) ## True

True

In [2]:
string = "python and data sceince"
print(string.islower()) ## True

True

In [3]:
string = "python and data sceince 76 #@"
print(string.islower()) ## True

True

In [4]:
string = "Python and data sceince 76 #@"
print(string.islower()) ## True

False

##  17. isupper()

True --->> if all chars are in upper case (space and special char allowed)
False --->> other than upper case

In [5]:
string = "python"
print(string.isupper()) ## False

False

In [6]:
string = "PYTHON"
print(string.isupper()) ## False

True

## 18. istitle()

True -- > First letter of each word should capital

In [7]:
string = "Python and Data Science"
print(string.istitle()) ## False

False

In [8]:
string = "Python And Data Science"
print(string.istitle()) ## True

True

In [9]:
string = "PythonAndDataScience"
print(string.istitle()) ## False

False

## 19. isspace()

It will return True if whitespace are present.

In [10]:
string = "                   "
print(string.isspace()) ## True

True

In [11]:
string = " "
print(string.isspace()) ## True

True

In [12]:
string = ""
print(string.isspace()) ##

False

In [13]:
string = "     A    "
print(string.isspace()) ##

False

## 20. isdecimal()

True --- >> If string contains only digits [0-9]

it does not allow any special char (dot, space etc)

In [14]:
string = "123445"
print(string.isdecimal()) ## True

True

In [15]:
string = "123 445"
print(string.isdecimal()) ## False

False

In [16]:
string = "123445@"
print(string.isdecimal()) ## False

False

In [17]:
mobileno="9922992299"
print(mobileno.isdecimal())

True

In [18]:
mobileno="9922992j99"
print(mobileno.isdecimal())

False

## 21. isdigit()

True --- >> If string contains digits, subscripts, superscripts # H2O -- subscript && x3(cube) -- superscript

In [19]:
mobileno="992299299"
print(mobileno.isdigit()) # True

True

In [20]:
string = "\u2082" # subscript 
print(string.isdigit()) ## True

True

In [22]:
string = "\u2082" # subscript 
print(string.isdecimal()) ## False

False

In [23]:
string = "\u00B9" # superscript
print(string.isdigit()) ## True

True

In [25]:
string = "\u00B9" # superscript
print(string.isdecimal()) ## False

False

In [ ]:
chr() ---> u
ord() --->

In [26]:
ord('a')

97

In [27]:
ord('A')

65

In [28]:
ord('1')

49

In [ ]:
unicode --- >> each letter, digit, or symbol is assigned a unique numeric value

In [29]:
chr(49)

'1'

## 22. isnumeric()

True -- >> If all char are digits, subscripts, superscripts , fraction (1/2,3/5)

In [31]:
string = "\u00BD"
print(string.isnumeric()) ## True
print(string.isdigit()) ## False
print(string.isdecimal()) ## false

True
False
False

Q. Diff between isnumeric vs isdigit vs isdecimal

In [34]:
string = "3.14" 

print(string.isdecimal()) ## false
print(string.isdigit())
print(string.isdecimal())

False
False
False

## 23. zfill()

zero filling 

Synatx:

string.zfill([count]) until it reached to specified count length it will add 0 at begining of string.

In [38]:
string = "python"
print(len(string))
s1 = string.zfill(10)
print(s1)
print(len(s1))

6
0000python
10

In [39]:
string = "python"
print(len(string))
s1 = string.zfill(30)
print(s1)
print(len(s1))

6
000000000000000000000000python
30

## 24. center()

In [ ]:
Synatx:
    string.center(length, char) # whitespace is by default

In [42]:
string = "python"
print(len(string))
s1 = string.center(10)
s1

6

'  python  '

In [43]:
string = "python"
print(len(string))
s1 = string.center(10,'+')
s1

6

'++python++'

In [45]:
string = "python"

s1 = string.center(11,'+')
s1

'+++python++'

# 25. spilt()

split() method will convert your string to list.


Sequence ---> list, tuple, set, frozenset, range

list -- collection of different data datatype

Synatx: 

string.split(separator, maxspilt) # by default whitesapace is our separater

In [48]:
list1 = [1,3.14,'python']
print(type(list1))

<class 'list'>

In [50]:
string = "python and data science"
l1 = string.split()
print(l1)

['python', 'and', 'data', 'science']

In [51]:
string = "Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains."
l1 = string.split()
print(l1)

['Data', 'science', 'is', 'an', 'interdisciplinary', 'field', 'that', 'uses', 'scientific', 'methods,', 'processes,', 'algorithms', 'and', 'systems', 'to', 'extract', 'knowledge', 'and', 'insights', 'from', 'noisy,', 'structured', 'and', 'unstructured', 'data,', 'and', 'apply', 'knowledge', 'and', 'actionable', 'insights', 'from', 'data', 'across', 'a', 'broad', 'range', 'of', 'application', 'domains.']

In [52]:
string = "python and data science"
l1 = string.split('and')
print(l1)

['python ', ' data science']

In [53]:
string = "apple # banana # cherry # orange # mango "
l1 = string.split('#')
print(l1)

['apple ', ' banana ', ' cherry ', ' orange ', ' mango ']

In [54]:
string = "apple # banana # cherry # orange # mango "
l1 = string.split('#',2)
print(l1)

['apple ', ' banana ', ' cherry # orange # mango ']

In [59]:
string = "apple # banana # cherry # orange # mango "
l1 = string.split('banana # cherry')
print(l1)

['apple # ', ' # orange # mango ']

# 26. join()

convert list to string

syntax : 
    char.join(iterable)

In [61]:
list1 = ['apple ', ' banana ', ' cherry ', ' orange ', ' mango ']
string =" ".join(list1) 
print(string)

apple   banana   cherry   orange   mango

In [62]:
list1 = ['apple', 'banana', 'cherry', 'orange', 'mango']
string =" ".join(list1) 
print(string)

apple banana cherry orange mango

In [63]:
list1 = ['apple', 'banana', 'cherry', 'orange', 'mango']
string ="    ".join(list1) 
print(string)

apple    banana    cherry    orange    mango

In [64]:
list1 = ['apple', 'banana', 'cherry', 'orange', 'mango']
string ="  #$  ".join(list1) 
print(string)

apple  #$  banana  #$  cherry  #$  orange  #$  mango